* {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
        /* hsl (fallback color) */
    --bg-dark: hsl(308 100% 93%);
    --bg: hsl(308 100% 98%);
    --bg-light: hsl(308 100% 100%);
    --text: hsl(299 100% 4%);
    --text-muted: hsl(302 100% 20%);
    --highlight: hsl(307 100% 100%);
    --border: hsl(305 49% 51%);
    --border-muted: hsl(305 67% 64%);
    --primary: hsl(302 100% 20%);
    --secondary: hsl(136 100% 7%);
    --danger: hsl(4 99% 37%);
    --warning: hsl(50 100% 12%);
    --success: hsl(159 100% 9%);
    --info: hsl(215 95% 42%);
    /* oklch */
    --bg-dark: oklch(0.92 0.1 331);
    --bg: oklch(0.96 0.1 331);
    --bg-light: oklch(1 0.1 331);
    --text: oklch(0.15 0.2 331);
    --text-muted: oklch(0.4 0.2 331);
    --highlight: oklch(1 0.2 331);
    --border: oklch(0.6 0.2 331);
    --border-muted: oklch(0.7 0.2 331);
    --primary: oklch(40.984% 0.18604 330.883);
    --secondary: oklch(0.4 0.2 151);
    --danger: oklch(0.5 0.2 30);
    --warning: oklch(0.5 0.2 100);
    --success: oklch(0.5 0.2 160);
    --info: oklch(0.5 0.2 260);
    
    --gradient: linear-gradient(0deg, var(--bg) 97%, var(--bg-light));
}

body{
    margin:0;
    background: var(--bg);

    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    gap: 1em;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

h1{
    color: var(--text);
}

.button{
    border: 1px solid var(--text);
    border-bottom: 3px solid var(--text);

    background-color: var(--secondary);
    color: var(--bg-dark);

    border-radius: 1em;
    padding: 0.5em;
    cursor:pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.primary{
    background: var(--primary);
}

.button.primary:hover{
    background: var(--border-muted);
}

.button:hover{
    background-color: var(--success);
}

.selected{
    background-color: var(--bg-light);
    color: var(--text-muted);
}

.selected:hover{
    background-color: var(--bg-light);
}

.input{
    border: 1px solid var(--text);
    border-bottom: 3px solid var(--text);

    background-color: hsl(0, 0, 85%);
    color: var(--text-muted);

    font-size: 1.1rem;

    border-radius: 1em;
    padding: 0.5em;
    text-align: center;
}

.input:focus{
    outline: none;
}

#carCanvas{
    background: var(--bg-dark);
}

#networkCanvas{
    border: 1px solid var(--bg);
    border-radius: 1em;
    border-top: 1px solid var(--highlight);

    
    background: var(--gradient);
    min-width: 300px;
}

#helpPopup {
    border: 1px solid var(--text);
    border-bottom: 3px solid var(--text);

    background: var(--bg);
    color: var(--text-muted);

    border-radius: 1em;
    padding: 2em;
    width: 80%;
    margin: auto;
    max-height: 70vh;  
    overflow-y: auto;

    scrollbar-width: none;
}