/* Colores seleccionados */

:root {
  /* hsl (fallback color) */
  --bg-dark: hsl(358 100% 3%);
  --bg: hsl(10 100% 5%);
  --bg-light: hsl(23 100% 6%);
  --text: hsl(35 100% 88%);
  --text-muted: hsl(35 58% 62%);
  --highlight: hsl(37 100% 19%);
  --border: hsl(31 100% 15%);
  --border-muted: hsl(16 100% 12%);
  --primary: hsl(42 100% 35%);
  --secondary: hsl(213 100% 74%);
  --danger: hsl(7 99% 66%);
  --warning: hsl(53 100% 22%);
  --success: hsl(163 100% 24%);
  --info: hsl(217 100% 70%);
  /* oklch */
  --bg-dark: oklch(0.1 0.095 75);
  --bg: oklch(0.15 0.095 75);
  --bg-light: oklch(0.2 0.095 75);
  --text: oklch(0.96 0.1 75);
  --text-muted: oklch(0.76 0.1 75);
  --highlight: oklch(0.5 0.19 75);
  --border: oklch(0.4 0.19 75);
  --border-muted: oklch(0.3 0.19 75);
  --primary: oklch(76.31% 0.16643 68.872);
  --secondary: oklch(0.76 0.19 255);
  --danger: oklch(0.7 0.19 30);
  --warning: oklch(0.7 0.19 100);
  --success: oklch(0.7 0.19 160);
  --info: oklch(0.7 0.19 260);
}

body.light {
  /* hsl (fallback color) */
  --bg-dark: hsl(35 100% 83%);
  --bg: hsl(35 100% 88%);
  --bg-light: hsl(35 100% 93%);
  --gradient: linear-gradient(0deg, var(--bg) 97%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));

  --text: hsl(354 100% 6%);
  --text-muted: hsl(31 100% 15%);
  --highlight: hsl(37 100% 80%);
  --border: hsl(40 100% 24%);
  --border-muted: hsl(42 100% 30%);
  --primary: hsl(31 100% 15%);
  --secondary: hsl(211 100% 26%);
  --danger: hsl(5 86% 39%);
  --warning: hsl(51 100% 12%);
  --success: hsl(159 100% 10%);
  --info: hsl(216 85% 43%);
  /* oklch */
  --bg-dark: oklch(90.952% 0.08866 81.825);
  --bg: oklch(0.96 0.095 75);
  --bg-light: oklch(1 0.095 75);
  --text: oklch(0.15 0.19 75);
  --text-muted: oklch(0.4 0.19 75);
  --highlight: oklch(1 0.19 75);
  --border: oklch(0.6 0.19 75);
  --border-muted: oklch(0.7 0.19 75);
  --primary: oklch(0.4 0.19 75);
  --secondary: oklch(0.4 0.19 255);
  --danger: oklch(0.5 0.19 30);
  --warning: oklch(0.5 0.19 100);
  --success: oklch(0.5 0.19 160);
  --info: oklch(0.5 0.19 260);

  
  --ff: "Manrope", sans-serif;
  --h1: 700 1.5rem/1.2em var(--ff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-dark);
    color: var(--text);
}

@media (min-width: 1000px){
    .wrapper{
        display: flex;
        height: 100%;
    }

    .left-column{
        flex: 3;
    }

    #options-container{
        justify-content: center;
        max-width: 30%;
    }
}

.left-column{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 

    padding: 1em;
    min-height: 100vh;
}

#options-container{
    display: flex;
    flex-direction: column;
    
    gap: 1em;

    padding: 1em;
}

header{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 1em 0.5em;
}

h1{
    font: var(--h1);
    color: var(--text);
}

#canvas-container {
    flex: 3;
    position: relative;
}

#myCanvas {
    z-index: -1;
}

#top-canvas {
    z-index: 0;
}

.on-canvas{
    font-size: 16px;
    margin: 1em;
    width: 5em;
    height: 3em;
 
    /* Alineación de contenido */
    outline: none;
}

#clear-button{
    position: absolute;
    top: 0;
    left: 0;
}

.box {
    background: var(--gradient);
    border: var(--border-card);
    border-top: 1px solid var(--highlight);
    border-radius: 1rem;
    box-shadow: var(--shadow);
}

.card {
  background: var(--gradient);
  padding: 1rem 2rem;
  border: var(--border-card);
  border-top: 1px solid var(--highlight);
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.card:hover {
  background: var(--gradient-hover);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.presets{
    display: flex;
    justify-content: center;
    margin: 1em;
}

.preset{
    justify-content: center;
    align-items: center;
    margin: 0em 0.5em;
    padding: 1em 1em;
    cursor: pointer;
}

.selected{ /* Para el preset seleccionado */
    cursor: default;

    background: hsl(53, 100%, 86%, 0.3);
    color: var(--text);

    border: 3px solid hsl(53, 100%, 86%, 0.3);
    box-shadow: inset 0 0 8px 1px hsl(53, 100%, 86%, 0.6);
}

.selected:hover{
    background: hsl(53, 100%, 86%, 0.3);
}

.xy-wrapper{
    display: flex; 
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-around;
}

input{
    font-size: 0.85rem;
    padding: 0.33em;
    border-radius: 0.25em;
    border: var(--border-card);
    background: var(--bg-light);
    color: var(--text-muted);
    text-align: center;
}

input:focus{
    outline: none;
}

input:placeholder{
    color: var(--text-muted);
}

.initial-conditions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;

    color: var(--text-muted);

    text-align: center;
    padding: 5px;
}

.parentesis {
    margin: 5px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.parentesis label {
    margin: 0 5px;
    font-size: 18px;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: hsl(36, 100%, 44%, 0.3);
    color: var(--text-muted);
    padding: 0.5rem 1rem;
    backdrop-filter: blur(2px);
    border-radius: 1em;
    border: 3px solid hsl(36, 100%, 44%, 0.3);
    box-shadow: inset 0 0 8px 1px hsl(36, 100%, 44%, 0.6);
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover{
    background: hsl(36, 100%, 44%, 0.4);
}


dialog{
    padding: 2em;
    width: 80%;
    margin: auto;
    max-height: 70vh;  /* Limita la altura visible */
    overflow-y: auto;

    background: var(--gradient);
    border: var(--border-card);
    border-top: 1px solid var(--highlight);
    border-radius: 1rem;
    
    scrollbar-width: none;
}

p{
    color: var(--text-muted);
}

dialog ul{
    margin: 1em;
    color: var(--text-muted);
}

dialog li{
    font-size: 1rem;
    margin: 0.1em auto;
}

code{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bg-light);
    border-radius: 2px;
    padding: 0.1em;
}

svg{
    color: var(--text-muted);
}

mjx-container {
  font-size: 1em;
}